.animate__animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }

  50% {
    opacity: 1
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }

  50% {
    opacity: 1
  }
}

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }

  to {
    opacity: 0
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }

  to {
    opacity: 0
  }
}

.animate__zoomIn {
  -webkit-animation-duration: 180ms;
  animation-duration: 180ms;
  -webkit-animation-duration: var(180ms);
  animation-duration: var(180ms);
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn
}

.animate__zoomOut {
  -webkit-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-duration: var(350ms);
  animation-duration: var(350ms);
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut
}